body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;

    overflow: hidden;
}



.bgvideo {

    position: relative;
    display: flex;


    justify-content: center;
    align-items: center;

}

.video-width {
    /* overflow: hidden; */

    width: 100%;
}

.effect {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    /* чтобы отображался под video-text */
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.375);
}

.container {

    position: absolute;

    bottom: 450px;
    width: 397px;

    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    z-index: 3;

}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 18px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 19px;
    font-style:inherit ;
    background-color: #0F8;
    color: rgb(0, 0, 0);
    
    border-width: 2px;
    border-radius: 4px;
    border-color: #e0e0f9;
    cursor: pointer;
}

button:hover {
    background-color: #44B;
    color: white;
    border-color: white;

}

#weatherResults {
    margin-top: 20px;
}

#weatherResults h2 {
    margin-bottom: 10px;
}

#weatherResults p {
    margin: 5px 0;
}
